* { padding: 0; margin: 0; box-sizing: border-box; }

html,
body {
  background-color: #F1F8FF;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

.container {
  margin: 30px auto;
  column-gap: 20px;
  max-width: 900px;
  display: grid;
  grid-template-columns: 50fr 50fr;
}

.meeting-list {
  grid-row: 3;
  grid-column: 1;
  display: none;
}

.meeting-form {
  grid-row: 3;
  grid-column: 2;
  display: none;
}

.cli {
  padding-bottom: 30px;
  grid-row: 2;
  grid-column: 1 / 3;
}

h1 {
  font-size: 32px;
  grid-row: 1;
  grid-column: 1 / 2;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 14px;
}

.box {
  background: white;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #E1E4E8;
  box-shadow: 0 1px 0 #E8EFF6;
}

.box:after {
  content: "";
  display: table;
  clear: both;
}

.datetime {
  font-size:12px;
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid #959DA5;
  color: #6A737D;
  display: inline-block;
  margin-bottom: 10px;
  float:right;
}

.datetime.soon {
  color: #C24E00;
  border-color: #F66A0A;
}

.meeting-title {
  color: #24292E;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.attendees {
  color: #6A737D;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 10px;
}

button, input[type="submit"] {
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  background: #159739;
  border: 1px solid #2D8C49;
  box-shadow: 1px solid #EAEBED;
  color: #fff;
  float: right;
}

.cli-example {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-weight: 100;
  font-size: 12px;
  white-space: pre;
  text-align: left;
  padding: 30px;
  background: #032F62;
  border-radius: 6px;
  color: #F1F8FF;
}

label {
  display: flex;
  margin-bottom: 10px;
}

.label {
  min-width: 100px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #24292E;
  margin-top: 4px;
}

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex-grow: 1;
  padding: 6px;
  border: 1px solid #E1E4E8;
  border-radius: 6px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;
  font-size: 14px;
}

input[type="submit"] {
  color: #24292E;
  background: #FAFBFC;
  border-color: #E1E4E8;
  margin-top:10px;
}

input::placeholder {
  color: #ccc;
}