@page
@model IndexModel
@{
    ViewData["Title"] = "ASP.NET Core";
    var asciiArt = AsciiArt.CreateDotnetMona("Would you like a Cup<T>?");
}
<div class="cli">
    <div class="cli-example">        
@asciiArt
    </div>
</div>


