@page
@model IndexModel
@{
    ViewData["Title"] = "ASP.NET Core";
    var message = Request.Query["m"];
    if (String.IsNullOrEmpty(message))
    {
        message = Model.Messages[0];
    }
    var asciiArt = AsciiArt.CreateDotnetMona(message);
}
<div class="cli">
    <div class="cli-example">        
@asciiArt
    </div>
</div>


